<style type="text/css">

body{text-align: center;background: #f2f6f8;}
.img{position:absolute;z-index:1;}


	body{
		margin : 15px;
    	background-image:url(blackjack.jpg);
	}

	h1 {
	    font-family: 'Crete Round', serif;
	    font-weight: bold;
	    color: white;
	    font-size: 65px;
	    margin-bottom: 20px;

	    text-shadow:
       5px 5px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	}

	/*h2 {
	    font-family: 'Crete Round', serif;
	    font-weight: bold;
	    color: white;
	    font-size: 25px;
	    margin-bottom: 20px;

	     text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	}*/

	header {
   		height: 100px;
	}
	header h1 {
   		float: left;
   		margin-top: 32px;
	}
	header h1 .color {
    	color: #02b8dd;
	}



</style>
