#controls{
	clear:both;
}

#dealer_hand{
	clear:both;
	border: 1px solid gray;
	height: 250px;
	width: 835px;
}

#player_hand{
	clear:both;
	margin-top: 50px;
	border: 1px solid gray;
	height: 250px;
	width: 835px;
}

#hitme_btn {
	width: 50px;
}

#stay_btn {
	width: 50px;
}

#deal_btn {
	position: absolute;
	width: 50px;
	left: -100px;
}

h1 {
	text-align: center;
}

h3 {
	display: inline;
	padding-right: 40px;
}

#result{
	display:none;
	position:absolute;
	top: 100px;
	left: 20px;
}
#main {
	position:absolute;
	top:10px;
	left:300px;
}
